@page "/build"
@inject IBananaService BananaService

<h3>Build</h3>
<button class="btn btn-primary" @onclick="() => EatBananas(10)">Eat Bananas</button>

@code {
    public void EatBananas(int amount)
    {
        BananaService.EatBananas(amount);
    }
}
