@inject IBananaService BananaService

<button @onclick="IncreaseBananasCount" class="btn btn-info"><span class="oi oi-plus"></span></button>

@code {
    public void IncreaseBananasCount()
    {
        BananaService.AddBananas(10);
    }
}
