@inject IBananaService BananaService

<button @onclick="() => IncreaseBananasCount(10)" class="btn btn-info"><span class="oi oi-plus"></span></button>

@code {
    public void IncreaseBananasCount(int amount)
    {
        BananaService.AddBananas(amount);
    }
}
